* {
  border-spacing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}

.start-background {
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.descend-button {
  position: absolute;
  width: 240px;
  margin: 0;
  padding: 0;
  border: 0;
  top: 35rem;
  left: 32.5rem;
}

.descend-button:hover {
  cursor: pointer;
}

.descend-button:active {
  opacity: 0.5;
  width: 900px;
}

.character-select-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.25fr 0.25fr 1fr 0.25fr;
  gap: 1.5rem;
  grid-template-areas:
    ". womb-image ."
    ". class-select-choice ."
    ". class-description ."
    ". character-select-image  ."
    ". start-game-button .";
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 5%,
    rgb(111, 110, 110) 90%
  );
  color: whitesmoke;
}

.character-select-womb {
  grid-area: womb-image;
}

.blurred-warrior {
  filter: drop-shadow(0.1rem 0 1rem rgb(91, 5, 5)) blur(0.05rem);
}

.blurred-cleric {
  filter: drop-shadow(0.1rem 0 1rem rgb(212, 193, 72)) blur(0.05rem);
}

.blurred-rogue {
  filter: drop-shadow(0.1rem 0 1rem rgb(12, 54, 7)) blur(0.05rem);
}

.blurred-magician {
  filter: drop-shadow(0.1rem 0 1rem rgb(2, 17, 90)) blur(0.05rem);
}

.class-select {
  box-shadow: 1px 1px 1px 1px black;
  grid-area: class-select-choice;
}
.class-description {
  justify-self: center;
  align-self: center;
  text-shadow: 0.025rem 0.025rem 0.1rem rgb(116, 113, 113);
  grid-area: class-description;
}

.character-select-image {
  grid-area: character-select-image;
}

.start-game-button {
  border: 2px solid rgb(82, 13, 13);
  grid-area: start-game-button;
}

.start-game-button:hover {
  cursor: pointer;
  background-color: rgb(82, 13, 13);
  color: white;
}

.main-game-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.25fr 2fr 0.25fr;
  grid-template-areas:
    "player-stats game-title enemy-stats "
    "player-stats combat-area enemy-stats"
    "player-stats player-skills combat-log";
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.384) 35%,
    rgba(254, 254, 254, 0.366) 100%
  );
}

.player-stats-container {
  grid-area: player-stats;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border: 5px solid tomato;
  align-content: center;
  justify-content: center;
}


.game-title-container {
  grid-area: game-title;
}

.player-skills-container {
  grid-area: player-skills;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.384) 5%,
    rgba(254, 254, 254, 0.366) 100%
  );
}

.player-skill {
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.05rem 0.05rem black;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.384) 0%,
    rgba(254, 254, 254, 0.366) 100%
  );
}

.player-skill:hover {
  cursor: pointer;
  box-shadow: 0.05rem 0.05rem 0.05rem white;
  background: linear-gradient(
    to bottom,
    rgba(254, 254, 254, 0.366) 0%,
    rgba(0, 0, 0, 0.384) 100%
  );
  color: white;
}

.combat-area-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "background-image enemy-image enemy-image"
    "player-image background-image background-image";
}

.player-image {
  border: 1px solid blue;
  grid-area: player-image;
  align-self: flex-end;
  z-index: 2;
  transform: translateX(24rem);
  filter: brightness(2.5);
}

.background-image {
  grid-area: background-image;
  z-index: -1;
  border: 1px solid green;
  transform: translateX(-10rem) translateY(-30rem);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 35%,
    rgb(254, 254, 254) 100%
  );
}

.enemy-image {
  grid-area: enemy-image;
  border: 1px solid red;
  justify-self: center;
  align-self: center;
  transform: translateX(9rem);
  z-index: 2;
}
